import init.wifi.rc
import init.gps.rc
import /init.storage.rc

on boot
# SSWAP
    write /proc/sys/vm/swappiness 130

# MSP FactoryApp
    mkdir /efs 0771 radio system
    mkdir /efs/imei 0775 radio system
    mkdir /efs/FactoryApp 0775 system system

# bluetooth
    chmod 660 /dev/ttyS0
    chmod 660 /proc/bluetooth/sleep/proto
    chmod 660 /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/type
    chmod 660 /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /dev/ttyS0

#for Bluesleep
    chown bluetooth system /proc/bluetooth/sleep/proto
    chown bluetooth system /proc/bluetooth/sleep/btwrite

    chown bluetooth shell /productinfo/connectivity_configure.ini
    chown bluetooth bluetooth /system/etc/connectivity_configure.ini
    chmod 666 /productinfo/connectivity_configure.ini
    chmod 666 /system/etc/connectivity_configure.ini

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chown system system /sys/devices/system/cpu/cpu0/online
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chown system system /sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chmod 0660 /sys/devices/system/cpu/cpu0/online
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chmod 0660 /sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

# Performance
    chown radio system	/sys/power/cpufreq_table
    chown radio system	/sys/power/cpufreq_min_limit
    chown radio system	/sys/power/cpufreq_max_limit
    chown radio system	/sys/devices/system/cpu/cpuhotplug/cpu_num_min_limit
    chown radio system	/sys/devices/system/cpu/cpuhotplug/cpu_num_limit
    chown radio system	/sys/module/mali/parameters/gpu_freq_list
    chown system system	/sys/module/mali/parameters/gpu_freq_min_limit
    chown system system	/sys/module/mali/parameters/gpu_freq_max_limit
    chmod 0664	/sys/power/cpufreq_table
    chmod 0664	/sys/power/cpufreq_min_limit
    chmod 0664	/sys/power/cpufreq_max_limit
    chmod 0664	/sys/devices/system/cpu/cpuhotplug/cpu_hotplug_disable
    chmod 0664	/sys/devices/system/cpu/cpuhotplug/cpu_num_min_limit
    chmod 0664	/sys/devices/system/cpu/cpuhotplug/cpu_num_limit
    chmod 0664	/sys/module/mali/parameters/gpu_freq_list

#Interactive governor parameters tuning for better power and performance
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 25000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1200000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 50000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads 80
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 50000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 80000

# Create cgroup mount point for blkio
    mkdir /sys/fs/cgroup/blkio 0750 root system
    mount cgroup none /sys/fs/cgroup/blkio blkio
    write /sys/fs/cgroup/blkio/blkio.weight 300
    chown root system /sys/fs/cgroup/blkio/cgroup.procs
    chmod 0660 /sys/fs/cgroup/blkio/cgroup.procs
    mkdir /sys/fs/cgroup/blkio/high 0750 root system
    write /sys/fs/cgroup/blkio/high/blkio.weight 700
    chown root system /sys/fs/cgroup/blkio/high/cgroup.procs
    chmod 0660 /sys/fs/cgroup/blkio/high/cgroup.procs

#LCD
	chown system system /sys/class/backlight/panel/brightness
	chmod 0664 system /sys/class/backlight/panel/brightness
	chown radio system /sys/class/lcd/panel/power_reduce
	chown system system /sys/class/backlight/panel/auto_brightness
	chmod 0664 /sys/class/backlight/panel/auto_brightness
	chown radio system /sys/class/lcd/panel/temperature
	chmod 0664 /sys/class/lcd/panel/temperature

#KEY
	chown system system /sys/class/sec/sec_key/reset_enabled

# tsp
	chown system system /sys/class/sec/tsp/cmd


#Sensor
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim

#Sensor
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter

on fs

# Permissions for EFS
    chown radio system /efs
    chmod 0771 /efs

#For Absolute Persistence Partition 
    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/platform/sdio_emmc/by-name/persdata
    check_fs /dev/block/platform/sdio_emmc/by-name/persdata ext4
    mount ext4 /dev/block/platform/sdio_emmc/by-name/persdata /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata 
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
   disabled
   oneshot
service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

# set LMK watermark as {12M,16M,18M,26M,34M,42M}
on property:lmk.autocalc=false
    write /sys/module/lowmemorykiller/parameters/adj 0,1,3,9,11,15
    write /sys/module/lowmemorykiller/parameters/minfree 3072,4096,4608,6656,8704,10752
    setprop sys.lmk.adj "0,1,3,9,11,15"
    setprop sys.lmk.minfree "3072,4096,4608,6656,8704,10752"

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    oneshot
