on fs

# LSI GPS
     chown root system /dev/ttyS2
     chmod 0660 /dev/ttyS2
     chown root system /sys/class/sec/gps/GPS_PWR_EN/value
     chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
     chown root system /sys/class/sec/gps/GPS_RESET/value
     chmod 0664 /sys/class/sec/gps/GPS_RESET/value
     mkdir /data/system 0771 system system
     chown system system /data/system
     mkdir /data/system/gps 0771 system system
     chown system system /data/system/gps
     rm /data/gps_started
     rm /data/glonass_started
     rm /data/beidou_started
     rm /data/smd_started
     rm /data/sv_cno.info